#sumForm{
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
h2{
    text-align: center;
}
h1{
    text-align: center;
}

div{
    background-color: aqua;
}
*{
    background-color: rgb(241, 225, 225);
}